.footer{
  width: 100%;
  background-color: var(--bg-4);
  color: var(--text-2);
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.footer__container{
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__title {
  font-size: 2rem;
  font-weight: 600;
}
.footer__subtitle {
  font-weight: 400;
}
.footer__italic {
  padding-top: 5px;
  font-style: italic;
}
.footer_social--media {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  padding-top: 24px;
}
/* .footer__li {
} */

.footer__li--link {
  text-decoration: none;
}
.footer__icon {
  font-size: 2rem;
  color: var(--bg-5);
  transition: color 200ms ease-in;
}
  .footer__icon--1:hover{
    color:  #0165E1;
  }
  .footer__icon--2:hover{
    color: #25D366;
  }
  .footer__icon--3:hover{
    color: #DD2A7B;
  }
  .footer__icon--4:hover{
    color: red;
  }
.footer__banner {
  font-size: 1.3rem;
  padding: 20px 0 ;
}
