.portada{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  background: url("../../../assets/img/background-1.jpg") center center;
  background-size: cover;
}
.portada__container{
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-2);
}
.portada__title {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 700;
}
.portada__subtitle {
  width: 80%;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

/*odibsibdvjnsvn*/
.carateristicas {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.carateristicas__container {
  width: 1200px;
  display: flex;
  flex-direction: row;
}
.carateristicas__image {
  width: max-content;
}
.carateristicas__image--img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.carateristicas__content {
  padding-left: 30px;
}
.carateristicas__content--title {
  font-size: 1.5rem;
  padding-bottom: 5px;
}
.carateristicas__content--lista {
  padding-bottom: 10px;
}
.carateristicas__lista {
  list-style: none;
  padding-top: px;
}
.carateristicas__lista--li {
  padding-left: 10px;
}
.carateristicas__lista--black {
  font-weight: 600;
}
.carateristicas__content--text{
  font-size: 1rem;
}

/*INFORMACIoN COLUMNA 1*/
.informacio {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
.informacio__container {
  width: 1200px;
  display: flex;
  flex-direction: row;
  gap: 20px;

}
.moduls {
  width: 80%;
  background-color: rgba(238, 234, 234, 0.356);
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
}
.moduls__title {
  width: 100%;
  padding-bottom: 5px;
  font-size: 1.7rem;
  font-weight: 700;
}
.moduls__subtitle {
  font-size: 1.4rem;
  font-weight: 600;
}
.moduls__list {
  list-style: none;
}
.moduls__list--li {
  padding-left: 5px;
  font-size: 1.1rem;
}

/*Sortides Formatives*/
.info {
  width: 60%;
}
.info__title {
  font-size: 28px;
  font-weight: 700;
}
.info__list {
  list-style: none;
}
.info__list--li {
  padding-top: 5px;
  padding-left: 5px;
}

/*BANNER*/
.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.banner__container {
  width: 1200px;
  padding: 20px 20px;
  background-color: var(--bg-2);
  text-align: center;
}
.banner__title {
  font-size: 2rem;
  color: var(--text-2);

}
.banner__text {
  font-size: 1.2rem;
  padding-bottom: 20px;
  color: var(--text-2);
}
.banner__btn{
  display: block;
  width: max-content;
  margin: 0 auto;
  padding: 5px 20px;
  font-size: 1.2rem;
  color: var(--text-2);
  background-color: var(--bg-4);
  text-decoration: none;
  border-radius: 5px;
  transition: all 300ms ease-in;
}
.banner__btn:hover{
  color: var(--text-3);
  background-color: var(--bg-5);
}

@media only screen and (max-width: 700px) {
  /*INCIO - PORTADA*/
  .portada__title {
    font-size: 2rem;
  }
  .portada__subtitle {
    font-size: 1.55rem;
  }
  /*FIN*/
  .carateristicas__container{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .carateristicas__content{
    padding-right: 30px;
  }
  .informacio{
    padding: 0;
  }
  .informacio__container{
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .moduls{
    width: 100%;
    padding: 20px 0 20px 30px;
  }
  .info{
    width: 100%;
    padding: 20px 0 20px 30px;
  }
  .banner{
    padding: 0px;
  }
  .banner__container{
    padding: 40px 20px;
  }
  .banner__title {
    font-weight: 500;
  }
  .banner__text {
    font-weight: 300;
  }
}